<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>
<h1>Webpack-standart</h1>

<body>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit asperiores hic necessitatibus nisi nihil? Aperiam vero
    quasi ipsum sed earum voluptate, minus nesciunt at placeat iure esse assumenda ducimus mollitia sit ea deleniti in saepe,
    ullam illo temporibus. Labore deleniti consequatur est ea vitae fugit, molestias repudiandae, soluta mollitia libero
    adipisci esse a unde eveniet modi! Deleniti necessitatibus quas harum facilis accusantium recusandae, hic enim, non ipsam
    odit optio quod omnis cum architecto! Error, possimus quae nam nulla alias necessitatibus molestiae dolorem hic totam
    perspiciatis quaerat laudantium nihil repellat adipisci quas blanditiis molestias omnis consectetur facere at eaque ipsa
    sint.</p>
  <img src=<%=require( './images/logo_transp2.png') %> alt="logo">
</body>

</html>